<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fastchar.likethis.dao.ChatRoomListMapper" >
  <resultMap id="BaseResultMap" type="com.fastchar.likethis.pojo.ChatRoomList" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="roomId" property="roomid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="NVARCHAR" />
    <result column="roomTypeId" property="roomtypeid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.fastchar.likethis.pojo.ChatRoomList" >
    insert into chat_room_list (id, roomId, userId, 
      roomTypeId)
    values (#{id,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{userid,jdbcType=NVARCHAR}, 
      #{roomtypeid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fastchar.likethis.pojo.ChatRoomList" >
    insert into chat_room_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomid != null" >
        roomId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="roomtypeid != null" >
        roomTypeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=NVARCHAR},
      </if>
      <if test="roomtypeid != null" >
        #{roomtypeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>