<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fastchar.likethis.dao.GameTypeMapper" >
  <resultMap id="BaseResultMap" type="com.fastchar.likethis.pojo.GameType" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="game" property="game" jdbcType="NVARCHAR" />
    <result column="gameLogo" property="gamelogo" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.fastchar.likethis.pojo.GameType" >
    insert into game_type (id, game, gameLogo
      )
    values (#{id,jdbcType=INTEGER}, #{game,jdbcType=NVARCHAR}, #{gamelogo,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fastchar.likethis.pojo.GameType" >
    insert into game_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="game != null" >
        game,
      </if>
      <if test="gamelogo != null" >
        gameLogo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="game != null" >
        #{game,jdbcType=NVARCHAR},
      </if>
      <if test="gamelogo != null" >
        #{gamelogo,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>