<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fastchar.likethis.dao.UserPostCommentMapper" >
  <resultMap id="BaseResultMap" type="com.fastchar.likethis.pojo.UserPostComment" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="postId" property="postid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="LONGNVARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.fastchar.likethis.pojo.UserPostComment" >
    insert into user_post_comment (id, postId, userId, 
      comment, createTime)
    values (#{id,jdbcType=INTEGER}, #{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{comment,jdbcType=LONGNVARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fastchar.likethis.pojo.UserPostComment" >
    insert into user_post_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postid != null" >
        postId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGNVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>